* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

.article-main {
  width: 600px;
  padding: 1%;
}

.article-meta {
  width: 20%;
  padding: 1%;
  float: left;
}

.meta-author {
  padding: 10px 0px;
}

.meta-author img {
  width: 50%;
  padding-right: 5px;
}

.meta-author p {
  float: right;
  width: 50%
}

.article-content {
  width: 80%;
  float: left;
}

.article-meta p {
  margin:0px;
  padding: 0px;
}

.space {
  margin: 30px;
}


h2 {
  font-size: 1.75em;
}

.small {
  font-size: 70%;
}

.pink {
  color: #F0436E;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #666666;
}

.hover-underline:hover {
  text-decoration: underline;
}